<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    delivery<br/>
    <table border="1">
        <div th:each="delivery,deliveryStat : ${deliverys.getList()}">
            <tr>
                <td th:text="${delivery.getCompanyId()}"></td>
                <td><a th:text="${delivery.getWareAbility()}" th:onclick="'javascript:updateDelivery(\'wareAbility\', \'' + ${delivery.getDeliveryId()} + '\');'" href="javascript:void(0)"> </a></td>
                <td><a th:text="${delivery.getState()}" th:onclick="'javascript:updateDelivery(\'state\', \'' + ${delivery.getDeliveryId()} + '\');'" href="javascript:void(0)"> </a></td>
                <td><a th:text="${delivery.getRange()}" th:onclick="'javascript:updateDelivery(\'range\', \'' + ${delivery.getDeliveryId()} + '\');'" href="javascript:void(0)"> </a></td>
                <td><a th:text="${delivery.getRadius()}" th:onclick="'javascript:updateDelivery(\'radius\', \'' + ${delivery.getDeliveryId()} + '\');'" href="javascript:void(0)"> </a></td>
                <td><a th:text="${delivery.getDeliveryDay()}" th:onclick="'javascript:updateDelivery(\'deliveryDay\', \'' + ${delivery.getDeliveryId()} + '\');'" href="javascript:void(0)"> </a></td>
                <td><a th:text="${delivery.getCarNum()}" th:onclick="'javascript:updateDelivery(\'carNum\', \'' + ${delivery.getDeliveryId()} + '\');'" href="javascript:void(0)"> </a></td>
                <td><a th:text="${delivery.getDeliveryDayReal()}" th:onclick="'javascript:updateDelivery(\'deliveryDayReal\', \'' + ${delivery.getDeliveryId()} + '\');'" href="javascript:void(0)"> </a></td>
                <td th:text="${delivery.getDeliveryId()}"></td>
                <td><a th:text="${delivery.getDeliveryNum()}" th:onclick="'javascript:updateDelivery(\'deliveryNum\', \'' + ${delivery.getDeliveryId()} + '\');'" href="javascript:void(0)"> </a></td>


                <td><button th:onclick="'javascript:deleteDelivery(\''+${delivery.getCompanyId()}+'\');'">删除</button></td>
            </tr>
        </div>
    </table>
    <a th:href="@{'/toDelivery?page='+${deliverys.getPageNum() - 1}}">上一页</a>
    <a th:href="@{'/toDelivery?page='+${deliverys.getPageNum() + 1}}">下一页</a>
    <a href="/toIndex">返回</a><br/>

    <script>
        function deleteDelivery(cid, did){
            var curWwwPath=window.document.location.href;
            var pathName=window.document.location.pathname;
            var localhostPaht;
            var pos = curWwwPath.indexOf(pathName);
            localhostPaht = curWwwPath.substring(0,pos);
            localhostPaht += "/";

            console.log(localhostPaht)
            var href = localhostPaht + "deleteDelivery?companyId=" + cid;
            console.log(href)
            location.href = href;
        }

        function updateDelivery(info, id){
            var curWwwPath=window.document.location.href;
            var pathName=window.document.location.pathname;
            var localhostPaht;
            var pos = curWwwPath.indexOf(pathName);
            localhostPaht = curWwwPath.substring(0,pos);
            localhostPaht += "/";
            console.log(info)
            console.log(id)

            var value = prompt("请输入更改值","");
            if(value){
                var href = localhostPaht + "updateDelivery?" + info + "=" + value + "&deliveryId=" + id;
                console.log(href)
                location.href = href;
            }
        }
    </script>
</body>
</html>