<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insert</title>
</head>
<body>
    insertUser<br/>
    <form action="insertUser">
        用户名：<input name="username" type="text" property="请输入用户名"><br/>
        密码：<input name="password" type="password" property="请输入密码"><br/>
        姓名：<input name="name" type="text" property="请输入姓名"><br/>
        电话：<input name="phone" type="text" property="请输入电话"><br/>
        公司：<input name="company" type="text" property="请输入公司"><br/>
        省份：<input name="province" type="text" property="请输入省份"><br/>
        请选择权限：<input value="0" name="type" type="radio" checked="checked"/>省级
        <input value="1" name="type" type="radio"/>国家级<br/>
        <input type="submit" />

    </form>
</body>
</html>