<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>粮食应急保障企业信息统计</title>
    <link rel="icon" type="image/x-icon" href="img/logo.png" />

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="assets/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="assets/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="assets/lineicons/style.css">
    <!-- ace styles -->
    <link rel="stylesheet" href="assets/css/ace.min.css"
          class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="assets/css/ace-rtl.min.css" />

    <link rel="stylesheet" href="assets/css/chosen.min.css" />
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <link href="assets/css/table-responsive.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">
    <style>
        td{

            white-space:nowrap;/*文本不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止。*/

            overflow:hidden;/*隐藏多余的内容*/

            text-overflow:ellipsis;/*超出部分以省略号显示*/

            word-break:keep-all;

        }
    </style>

    <script src="assets/js/ace-extra.min.js"></script>

    <script src="assets/js/chart-master/Chart.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<section id="container" >
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header blue-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"> </div>
        </div>
        <!--logo start-->
        <a href="toIndex" class="logo"><b>粮食应急保障企业信息统计</b></a>

        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="toLogin">注销</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <p class="logoname hidden-lg hidden-md " style="font-size: 2rem;color: white;text-align: center;font-weight: bolder">粮食应急保障企业信息统计</p>

                <p class="centered"><a href="#"><img src="assets/img/user.png" class="img-circle" width="60"></a></p>
                <h5 class="centered" th:if="${session.user == null}">未登录</h5>
                <h5 class="centered" th:if="${session.user != null}">
                    <span th:text="${session.user.getName()}"></span>
                </h5>

                <li class="mt">
                    <a href="toIndex">
                        <i class="fa fa-dashboard"></i>
                        <span style="font-size: 1.5rem">首页</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <!--<a href="companysearch">-->
                    <!--<i class="fa fa-cogs"></i>-->
                    <!--<span style="font-size: 1.5rem">统计查询</span>-->
                    <!--</a>-->
                    <a href="javascript:void(0);" >
                        <i class="fa fa-book"></i>
                        <span style="font-size: 1.5rem">统计汇总</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="toCountStatic" >信息统计</a></li>
                        <li><a  href="companysearch">企业搜索</a></li>

                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0);" >
                        <i class="fa fa-book"></i>
                        <span style="font-size: 1.5rem">应急供应网点</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="toSupplyStatistics" >供应网点统计</a></li>
                        <li><a  href="toSupplyShow" >供应网点列表展示</a></li>
                        <li><a  href="toSupplyCount" >信息统计</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0);" >
                        <i class="fa fa-tasks"></i>
                        <span style="font-size: 1.5rem">应急配送中心</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="toDeliverStatistics">配送中心统计</a></li>
                        <li><a  href="toDeliverShow">配送中心列表展示</a></li>
                        <li><a  href="toDeliveryCount" >信息统计</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0);" >
                        <i class="fa fa-th"></i>
                        <span style="font-size: 1.5rem">应急储运企业</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="toStoreageStatistics">储运企业统计</a></li>
                        <li><a  href="toStoreageShow">储运企业列表展示</a></li>
                        <li><a  href="toStoreageCount" >信息统计</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0);" >
                        <i class=" fa fa-bar-chart-o"></i>
                        <span style="font-size: 1.5rem">应急加工企业</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="toMachiningStatistics">加工企业统计</a></li>
                        <li><a  href="toMachineShow">加工企业列表展示</a></li>
                        <li><a  href="toMachineCount" >信息统计</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0);" >
                        <i class=" fa fa-bar-chart-o"></i>
                        <span style="font-size: 1.5rem">信息录入</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="toSupplyInput">供应网点信息录入</a></li>
                        <li><a  href="toDeliverInput">配送中心信息录入</a></li>
                        <li><a  href="toStoreageInput">储运企业信息录入</a></li>
                        <li><a  href="toMachiningInput">加工企业信息录入</a></li>
                    </ul>
                </li>


                <li class="sub-menu">
                    <a href="javascript:void(0);" >
                        <i class="fa fa-book"></i>
                        <span style="font-size: 1.5rem">问卷信息</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="toQuestionnaire">信息展示</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a class="active" href="javascript:void(0);" >
                        <i class="fa fa-users"></i>
                        <span style="font-size: 1.5rem">权限管理</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="toUserAdmin">个人信息</a></li>
                        <li><a  href="toUserListAdmin">用户管理</a></li>
                        <li><a  href="toJurAdmin">权限管理</a></li>
                    </ul>

                </li>

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">

            <div class="row">
                <div class="col-lg-12 main-chart">
                    <!--<h3><i class="fa fa-angle-right"></i>权限审核</h3>
                    <hr>
                    <div class="row mt">
                        <div class="col-lg-12">
                            <div class="content-panel">
                                <section id="no-more-tables1">
                                    <table  border="1" id="dynamic-table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                        <thead class="cf">
                                            <tr>
                                                <th style="text-align: center; font-size: 1.5rem" class="center"><label class="pos-rel"> <input
                                                        type="checkbox" class="ace" /> <span class="lbl"></span>
                                                </label></th>
                                                <th style="text-align: center; font-size: 1.5rem" >用户名</th>
                                                <th style="text-align: center; font-size: 1.5rem" >姓名</th>
                                                <th style="text-align: center; font-size: 1.5rem" >电话</th>
                                                <th style="text-align: center; font-size: 1.5rem" >所在省</th>
                                                <th style="text-align: center; font-size: 1.5rem" >所在市</th>
                                                <th style="text-align: center; font-size: 1.5rem" >所在县</th>
                                                <th style="text-align: center; font-size: 1.5rem" >公司</th>
                                                <th style="text-align: center; font-size: 1.5rem" >权限</th>
                                                <th style="text-align: center; font-size: 1.5rem" >通过</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user,userStat : ${users.getList()}">
                                            <td style="text-align: center; font-size: 1.5rem" class="center"><label class="pos-rel"> <input
                                                    type="checkbox" class="ace" /> <span class="lbl"></span>
                                            </label></td>
                                            <td style="text-align: center; font-size: 1.5rem"  th:text="${user.getUsername()}"></td>
                                            <td style="text-align: center; font-size: 1.5rem"  th:text="${user.getName()}"></td>
                                            <td style="text-align: center; font-size: 1.5rem"  th:text="${user.getPhone()}"></td>
                                            <td style="text-align: center; font-size: 1.5rem"  th:text="${user.getProvince()}"></td>
                                            <td style="text-align: center; font-size: 1.5rem"  th:text="${user.getCity()}"></td>
                                            <td style="text-align: center; font-size: 1.5rem"  th:text="${user.getCounty()}"></td>
                                            <td style="text-align: center; font-size: 1.5rem"  th:text="${user.getCompany()}"></td>
                                            <span th:switch="${user.getType()}">
                                                <td style="text-align: center; font-size: 1.5rem"  th:case="0">国家级</td>
                                                <td style="text-align: center; font-size: 1.5rem"  th:case="1">省级</td>
                                                <td style="text-align: center; font-size: 1.5rem"  th:case="2">市级</td>
                                                <td style="text-align: center; font-size: 1.5rem"  th:case="3">县级</td>
                                            </span>
                                            <td style="text-align: center; font-size: 1.5rem" >
                                                <button th:onclick="'javascript:passUser('+${user.getUserId()}+','+${users.getPageNum()}+')'">通过</button>
                                               &lt;!&ndash; <a th:href="@{'/toPassUser?userId='+${user.getUserId()}+'&page='+${users.getPageNum()}}">通过</a>&ndash;&gt;
                                            </td>
                                        </tr>
                                        <script>
                                            function passUser(userId, page){
                                                console.log(userId);
                                                var curWwwPath=window.document.location.href;
                                                var pathName=window.document.location.pathname;
                                                var localhostPaht;
                                                var pos = curWwwPath.indexOf(pathName);
                                                localhostPaht = curWwwPath.substring(0,pos);
                                                localhostPaht += "/";
                                                var href = localhostPaht + "toPassUser?userId=" + userId + "&page=" + page;
                                                console.log(href);
                                                if (confirm("是否确定通过审核？")==true){
                                                    location.href = href;
                                                }
                                            }
                                        </script>

                                        </tbody>
                                    </table>

                                </section>

                                <div style="font-size: 1.7rem;margin-top: 10px;padding-bottom: 10px;text-align: center" >
                                    <a th:href="@{'/toJurAdmin?page='+${users.getPageNum() - 1}}">上一页</a><span th:text="'&nbsp;&nbsp;第' + ${users.getPageNum()} + '页&nbsp;'"></span>
                                    <a th:href="@{'/toJurAdmin?page='+${users.getPageNum() + 1}}">下一页</a><br/>
                                </div>

                            </div>&lt;!&ndash; /content-panel &ndash;&gt;
                        </div>&lt;!&ndash; /col-lg-12 &ndash;&gt;
                    </div>&lt;!&ndash; /row &ndash;&gt;
                    <br>-->
                    <br>
                    <h3><i class="fa fa-angle-right"></i>权限管理</h3>
                    <hr>
                    <div Style="width: 330px">
                    </div>
                    <br>
                    <!--<div class="sear">
                        <h5 style="display: inline">时间查询：</h5><span><br></span>
                        <input type="date" id="time1" value="2020-4-13" style="border-radius: 0.9rem">&emsp;至 &emsp;
                        <input type="date" id="time2" value="2020-4-16" style="border-radius: 0.9rem">
                        <span><br></span>
                        <button class="pull-right searchbutt" id="search_jur">查询</button>
                    </div>
                    <br>-->
                    <div class="col-md-12 mb">
                        <div class=" ">
                            <!--<hr>-->
                            <div class="content-panel">
                                <div class="clearfix">
                                    <i id="bigpro"></i><i id="midpro"></i><i id="smapro"></i>
                                    <div class="pull-right tableTools-container"></div>
                                </div>
                                <section id="no-more-tables">
                                    <table border="1" id="dynamic-table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                        <thead class="cf">
                                        <tr>
                                            <th style="text-align: center; font-size: 1.5rem" class="center"><label class="pos-rel"> <input
                                                    type="checkbox" class="ace" /> <span class="lbl"></span>
                                            </label></th>
                                            <th style="text-align: center; font-size: 1.5rem" >用户名</th>
                                            <th style="text-align: center; font-size: 1.5rem" >姓名</th>
                                            <th style="text-align: center; font-size: 1.5rem" >电话</th>
                                            <th style="text-align: center; font-size: 1.5rem" >所在省</th>
                                            <th style="text-align: center; font-size: 1.5rem" >所在市</th>
                                            <th style="text-align: center; font-size: 1.5rem" >所在县</th>
                                            <th style="text-align: center; font-size: 1.5rem" >公司</th>
                                            <th style="text-align: center; font-size: 1.5rem" >权限</th>
                                            <th style="text-align: center; font-size: 1.5rem" >通过</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user,userStat : ${users}">
                                            <td style="text-align: center; font-size: 1.5rem" class="center"><label class="pos-rel"> <input
                                                    type="checkbox" class="ace" /> <span class="lbl"></span>
                                            </label></td>
                                            <td style="text-align: center; font-size: 1.5rem"  th:text="${user.getUsername()}"></td>
                                            <td style="text-align: center; font-size: 1.5rem"  th:text="${user.getName()}"></td>
                                            <td style="text-align: center; font-size: 1.5rem"  th:text="${user.getPhone()}"></td>
                                            <td style="text-align: center; font-size: 1.5rem"  th:text="${user.getProvince()}"></td>
                                            <td style="text-align: center; font-size: 1.5rem"  th:text="${user.getCity()}"></td>
                                            <td style="text-align: center; font-size: 1.5rem"  th:text="${user.getCounty()}"></td>
                                            <td style="text-align: center; font-size: 1.5rem"  th:text="${user.getCompany()}"></td>
                                            <span th:switch="${user.getType()}">
                                                <td style="text-align: center; font-size: 1.5rem"  th:case="0">国家级</td>
                                                <td style="text-align: center; font-size: 1.5rem"  th:case="1">省级</td>
                                                <td style="text-align: center; font-size: 1.5rem"  th:case="2">市级</td>
                                                <td style="text-align: center; font-size: 1.5rem"  th:case="3">县级</td>
                                            </span>
                                            <td style="text-align: center; font-size: 1.5rem" >
                                                <button th:onclick="'javascript:passUser('+${user.getUserId()}+')'">通过</button>
                                                <!--&lt;!&ndash; <a th:href="@{'/toPassUser?userId='+${user.getUserId()}+'&page='+${users.getPageNum()}}">通过</a>&ndash;&gt;-->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </section>
                                <script>
                                    function passUser(userId){
                                        console.log(userId);
                                        var curWwwPath=window.document.location.href;
                                        var pathName=window.document.location.pathname;
                                        var localhostPaht;
                                        var pos = curWwwPath.indexOf(pathName);
                                        localhostPaht = curWwwPath.substring(0,pos);
                                        localhostPaht += "/";
                                        var href = localhostPaht + "toPassUser?userId=" + userId;
                                        console.log(href);
                                        if (confirm("是否确定通过审核？")==true){
                                            location.href = href;
                                        }
                                    }
                                </script>


                            </div><!-- /content-panel -->

                            <!--<div class="pull-right">-->
                            <!--<h4 style="margin-right: 15px;"><a class="fa fa-download download" href="#" download="全国粮食应急保障企业信息简表">下载</a></h4>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>



    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2020.<a href="http://www.winginbi.com" target="_blank">winginbi</a>
        </div>
    </footer>
    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/jquery-1.8.3.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>
<script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="assets/js/jquery.sparkline.js"></script>


<script src="assets/js/jquery.dataTables.min.js"></script>
<script src="assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="assets/js/dataTables.buttons.min.js"></script>
<script src="assets/js/buttons.flash.min.js"></script>
<script src="assets/js/buttons.html5.min.js"></script>
<script src="assets/js/buttons.print.min.js"></script>
<script src="assets/js/buttons.colVis.min.js"></script>
<script src="assets/js/dataTables.select.min.js"></script>

<script src="assets/js/jquery-ui.custom.min.js"></script>
<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="assets/js/chosen.jquery.min.js"></script>

<script src="js/search-jur.js"></script>
<!--common script for all pages-->
<script src="assets/js/common-scripts.js"></script>

<script type="text/javascript" src="assets/js/gritter/js/jquery.gritter.js"></script>
<script type="text/javascript" src="assets/js/gritter-conf.js"></script>

<!--script for this page-->
<script src="assets/js/sparkline-chart.js"></script>
<script src="assets/js/zabuto_calendar.js"></script>

<script type="application/javascript">
    $(document).ready(function () {
        $("#date-popover").popover({html: true, trigger: "manual"});
        $("#date-popover").hide();
        $("#date-popover").click(function (e) {
            $(this).hide();
        });

        $("#my-calendar").zabuto_calendar({
            action: function () {
                return myDateFunction(this.id, false);
            },
            action_nav: function () {
                return myNavFunction(this.id);
            },
            ajax: {
                url: "show_data.php?action=1",
                modal: true
            },
            legend: [
                {type: "text", label: "Special event", badge: "00"},
                {type: "block", label: "Regular event", }
            ]
        });
    });


    function myNavFunction(id) {
        $("#date-popover").hide();
        var nav = $("#" + id).data("navigation");
        var to = $("#" + id).data("to");
        console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
</script>
<script>
    var doughnutData = [
        {
            value: 30,
            color:"#1abc9c"
        },
        {
            value : 50,
            color : "#2ecc71"
        },
        {
            value : 100,
            color : "#3498db"
        },
        {
            value : 40,
            color : "#9b59b6"
        },
        {
            value : 120,
            color : "#34495e"
        }

    ];
    var lineChartData = {
        labels : ["","","","","","",""],
        datasets : [
            {
                fillColor : "rgba(220,220,220,0.5)",
                strokeColor : "rgba(220,220,220,1)",
                pointColor : "rgba(220,220,220,1)",
                pointStrokeColor : "#fff",
                data : [65,59,90,81,56,55,40]
            },
            {
                fillColor : "rgba(151,187,205,0.5)",
                strokeColor : "rgba(151,187,205,1)",
                pointColor : "rgba(151,187,205,1)",
                pointStrokeColor : "#fff",
                data : [28,48,40,19,96,27,100]
            }
        ]

    };
    var pieData = [
        {
            value: 30,
            color:"#1abc9c"
        },
        {
            value : 50,
            color : "#16a085"
        },
        {
            value : 100,
            color : "#27ae60"
        }

    ];
    var barChartData = {
        labels : ["January","February","March","April","May","June","July"],
        datasets : [
            {
                fillColor : "rgba(220,220,220,0.5)",
                strokeColor : "rgba(220,220,220,1)",
                data : [65,59,90,81,56,55,40]
            },
            {
                fillColor : "rgba(151,187,205,0.5)",
                strokeColor : "rgba(151,187,205,1)",
                data : [28,48,40,19,96,27,100]
            }
        ]

    };
    var chartData = [
        {
            value : Math.random(),
            color: "#D97041"
        },
        {
            value : Math.random(),
            color: "#C7604C"
        },
        {
            value : Math.random(),
            color: "#21323D"
        },
        {
            value : Math.random(),
            color: "#9D9B7F"
        },
        {
            value : Math.random(),
            color: "#7D4F6D"
        },
        {
            value : Math.random(),
            color: "#584A5E"
        }
    ];
    var radarChartData = {
        labels : ["","","","","","",""],
        datasets : [
            {
                fillColor : "rgba(220,220,220,0.5)",
                strokeColor : "rgba(220,220,220,1)",
                pointColor : "rgba(220,220,220,1)",
                pointStrokeColor : "#fff",
                data : [65,59,90,81,56,55,40]
            },
            {
                fillColor : "rgba(151,187,205,0.5)",
                strokeColor : "rgba(151,187,205,1)",
                pointColor : "rgba(151,187,205,1)",
                pointStrokeColor : "#fff",
                data : [28,48,40,19,96,27,100]
            }
        ]

    };
/*    new Chart(document.getElementById("doughnut").getContext("2d")).Doughnut(doughnutData);
    new Chart(document.getElementById("line").getContext("2d")).Line(lineChartData);
    new Chart(document.getElementById("radar").getContext("2d")).Radar(radarChartData);
    new Chart(document.getElementById("polarArea").getContext("2d")).PolarArea(chartData);
    new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);
    new Chart(document.getElementById("pie").getContext("2d")).Pie(pieData);*/


</script>




</body>
</html>
